.shop {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 20vw;
}

.product__grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}
